* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

span {
	color: rgb(0, 107, 255);
}
.easy {
	font-size: 4.20875rem;
}

.caros {
	padding: 40px;	
	height:inherit;
    background-color: black;
}
.caros1 {
	background-color: rgb(0, 107, 255);
	border-radius: 150px;
	height: 40vh;
	margin: auto;
	padding: 15px;
	align-content: center;
}
.yteams {
	color: rgb(11, 53, 88);
}
.navbar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	 z-index: 1000;
}
#sec1 {
	margin-top: 150px;
}
.es {
	 font-size: 4.20875rem;
    line-height: 1.2;
    font-weight: 900;
    color: rgb(0, 0, 0);
    text-align: left;
}
.signinn {

    padding: 20px;
    border-radius: 40px;
    border: none;
    box-sizing: border-box;
    padding-right: 150px;
    appearance: none;
    box-shadow: rgb(0 0 0 / 20%) 0px 2px 10px;
}
.signupp {
    background-color: black;
    color: white;
    padding: 20px 30px;
    border-radius: 40px;
}
.signupp:hover {
background-color: blue;
color: white;
border: none;
}

.help {
    display: inline-flex;
    margin-top: 20px;
}
.simplified {
    background-color: whitesmoke;
    height: inherit;
    width: 100%;
    padding: 50px;
    margin-bottom: 50px;
}
.sim {
     font-size: 2rem;
    line-height: 1.4;
    text-align: center;
    color: rgb(0, 0, 0);
    font-weight: 600;
    margin-top: 50px;
   
    padding-bottom: 30px;
}
.we {
	text-align: center;
    color: #0B3558;
    font-size: 3rem;
    font-weight: bold;
    line-height: 59px;
    margin-bottom: 50px;
}
.last {
	margin-bottom: 50px;
}
.thumbnail {
	color: black;
	height: inherit;
	padding: 30px;
	width: 100%;
	margin:30px;
	
}
.thumbnails {
	color: black;
	height: inherit;
	padding: 20px 20px 0px 20px;
	border-radius: 9px;
	border: 1px solid whitesmoke;
}

.circle {
	  border-radius: 50%;
	  height: inherit;
	  width: 30px;
	  border: 2px solid blue;
	  text-align: center;
	  color: blue;
	  font-weight: bold;
	  font-size: large;
}
.footer {
	background-color: #f8f9fa;
	color: black;
    padding-top: 15px;
}
.tm {
    line-height: 1.2;
    font-weight: 900;
    font-family: sans-serif;
}
.easyone {
	font-size: 3.25rem;
    line-height: 1.25;
    font-weight: 900;
    letter-spacing: -0.01em;
    text-align: left;
    color: rgb(11, 53, 88);
    margin-bottom: 32px;
}
.fQJnIm {
    position: relative;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 0.2s linear 0s;
    color: rgb(255, 255, 255);
    background-color:  rgb(0, 107, 255);
    opacity: 1;
    height: 64px;
     padding: 4px 40px;
    border-radius: 40px;
    font-family: Gilroy;
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 1;
}
.fQJnIm:hover { 
	background-color: black;
}
.give {
	height: iherit;
	background-color: rgb(11, 53, 88);;
	color: white;
	margin-bottom: 50px;
	text-align: center;
	padding:  50px;
}
.seen{
	    font-size: 3.25rem;
    line-height: 1.25;
    font-weight: 900;
    letter-spacing: -0.01em;
    padding-bottom: 20px;
}
.sec1, .sec2 {
	margin-bottom: 50px;
}
.g {
	 font-size: 3.25rem;
    line-height: 1.25;
    letter-spacing: -0.01em;
    text-align: center;
    color: rgb(11, 53, 88);
    font-weight: 700; 
    padding: 10px;
}
#sec2 {
margin-top: 20px;
}
.song {
	 font-size: 1rem;
    line-height: 1;
    font-weight: 600;
    letter-spacing: -0.01em;
    text-align: left;
    color: rgb(0, 107, 255);
    text-transform: uppercase;
    margin-bottom: 24px;
}
.low {
	font-size: 2rem;
    line-height: 1.25;
    letter-spacing: -0.01em;
    text-align: left;
    color: rgb(29, 52, 75);
    font-weight: 700;
    margin-bottom: 24px;
}
.pop {
    font-size: 1rem;
    line-height: 1;
    font-weight: 600;
    letter-spacing: -0.01em;
    text-align: center;
    color: rgb(0, 107, 255);
    text-transform: uppercase;
    margin-bottom: 24px;;
}
.h {
font-size: 2rem;
    line-height: 1.25;
    letter-spacing: -0.01em;
    text-align: center;
    color: rgb(29, 52, 75);
    font-weight: 700;
    margin-bottom: 24px;
}
.doc {
	    font-size: 3.25rem;
    line-height: 1.25;
    font-weight: 900;
    letter-spacing: -0.01em;
    text-align: center;
    color: rgb(0, 0, 0);
    
}
.dote {
	letter-spacing: -0.01em;
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
    line-height: 1.33333;
    font-weight: 500;
    margin-top: 48px;
    margin-bottom: 24px;
   
}

.boat {
	margin-top: 50px;
}
.ment {
	text-align: center;
}


@media screen and (max-width: 820px) {
.pf {
    text-align: left;
}
.form-inline .form-control {
    width: 100%;
}

.caros1 {
    background-color: rgb(0, 107, 255);
}
.caros img {
   height: 90%;
}
.twi {
    margin-left: 5px;
}
.tm {
     font-size: 2rem;
    }
  .g {
        font-size: 2.3rem
    }
 .easyone{
font-size: 2.2rem;
}
.way {
    font-size: 2.2rem;
}
.eo{
    font-size: 1.8rem;
}
.signupp {
    position: relative;
    top: -5px;
    left: 100px;
}
.simplified {
   margin: 0px;
}
}


@media screen and (max-width: 600px) {

.caros1 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.caros {
   
    background-color: rgb(0, 107, 255);
    padding: 0px;
}

.mom img {
    width: 100%;
}

.thumbnail {
    margin: 0px;
}
.sales, .recruit {
    text-align: center;
}
.es{
    font-size: 2.20875rem;
}
.signinn {
padding-right: 60px;
}
.signupp {
    padding: 20px 30px;
    position: relative;
    top: -65px;
    left: 200px;
}
.help {
    display: flex;
}
.ic {
    width: 100%;
    display: block;
}
.ic img {
    width: 35%;
    margin-left: 110px;
}
.simplified {
    padding: 15px;
}
.we {
    font-size: 22px;
}

#signupone {
    margin-bottom: 30px;
}
.way {
font-size: 2.20875rem;;
}
.eo {
    font-size: 18px;
    }
    .seen {
        font-size: 2rem;
       font-family: sans-serif;
    }
    .tm {
        font-size: 3.2rem;

    }
    #tmbtn {
        background-color: rgb(11, 53, 88);
        padding: 10px 15px;
        margin: 0px 0px 15px 10px;
    }
    #tmbtn1 {
        padding: 10px 15px;
        margin: 0px 10px 15px 25px;
    }
    .g {
        font-size: 1.3rem
    }
    .song {
        text-align: center;
    }
    .low {
        font-size: 25px;
        text-align: center;
    }
    .h {
        font-size: 25px;
    }

}

